html, body {
    margin: 0;
    padding: 0;
}

div {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

img {
    display: inline-block;
    vertical-align: middle;
    padding: 5px
}

Main {
    width: 100vw;
}
